@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&display=swap');

body {
  font-family: 'Manrope', Arial, sans-serif;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0 !important;
}

.bg-dark {
  background-color: #1B1C1D !important;
}

div[data-name] > * {
  margin: 5px;
}

#storybook-root {
  padding: 3em;
}

.color_item_custom {
  margin-top: 48px !important;
}

.color_item_custom-list {
  list-style-type: none !important;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0 !important;
}

.color_item_custom-item {
  display: flex;
  align-items: center;
}

.color_item_custom-bg {
  border-radius: 4px;
  width: 3rem;
  height: 3rem;
  margin-right: 0.75rem !important;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.06);
}

.color_item_custom-picker {
  position: relative;
  display: inline-flex;
}

.color_item_custom-picker_input {
  all: unset;
  width: 160px;
  height: 200px;
  display: block;
  cursor: pointer;
}

.color_item_custom-picker_text {
  position: absolute !important;
  top: 0;
  left: 0;
  padding: 10px !important;
}
